.sk-view-tags-dialog {
    position: relative;
    width: 480px;
    min-height: 120px;
    max-height: 320px;
    overflow-y: auto;
    padding: 24px 32px;
    border-radius: 16px;
    border: none;

.tags-view-title {
    font-weight: 600;
    line-height: 1;
    margin: 0 0 16px;
}

.tag-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

p {
    margin-block: 8px;
}

button {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: #efefef;
    border-radius: 8px;
    font-weight: 600;
    padding: 8px 16px;
}
}
